.about-me-content {
  margin: auto;
  max-width: 65vw;
  padding: 20px;
}

.h3-about{
  font-size: 30px;
  text-align: left;
}

.ul-about {
  font-size: 20px;
  font-weight: bold;
  list-style-type: disc;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  list-style-position: inside;
  text-align: left;
}
