.contact-a{
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  margin-left: 10px;
}

.contact-a:hover{
  cursor: pointer;
  background-color: rgba(57, 67, 158, 0.993);
  color: white;
}

img {
  vertical-align: middle;
}

.contact-links{
  padding: 10px;
}

.contact-content {
  margin: auto;
  max-width: 75vw;
  padding: 20px;
  font-size: 20px;
}