nav {
	/* position: relative; */
	height: 10%;
  /* padding: 1em; */
  /* font-size: 21px; */
  /* border-bottom: 1px solid black; */
}
.ul-left {
  display: flex;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.ul-right{
  display: flex;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.about, .projects, .contact, .resume{
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5%;
  font-size: 22px;
}

.nav-box-desktop{
  color: white;
  display: flex;
  justify-content: space-between;
  max-width: 75vw;
  margin: auto;
  padding-top: 10px;
  border-bottom: 1px solid black;
  background-color: #067BC2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

nav ul li {
  font-weight: 700;
  font-size: 1.2em;
  list-style: none;
}

.nav-left {
  flex-wrap: wrap;
  display: flex;
}

.nav-right {
  justify-content: flex-end;
}

nav a {
  color:white;
  text-decoration: none;
}

body {
  background-color: white;
}

.nav-user{
  color: rgb(0, 128, 255);
  padding-right: 15px;
  display: inline-block;
}

.nav-logout{
  display: inline-block;
}

.projects:hover, .contact:hover, .about:hover, .resume:hover{
  cursor: pointer;
  background-color: rgb(7, 77, 121);
  color: white;
}

nav a:hover{
  cursor: pointer;
  background-color: rgb(7, 77, 121);
  color: white;
}



.light{
  background-color: #067BC2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown {
  text-align: left;
  color: rgb(0, 128, 255);
}

.dropbtn {
  border: 1px solid black;
  border-style: groove;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 2px 2px 1px 1px darkslategrey;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 19px;
  font-weight: bold;
  color: white;
  background-color: #067BC2;
}

button:active {
  background-color: rgb(7, 77, 121);
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.dropdown-link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
} 

@media only screen and (min-width: 320px) and (max-width: 720px){
  .nav-box-desktop{
    display: none;
  }

  .nav-box-mobile{
    display: block;
  }
}

@media only screen and (min-width: 721px){
  .nav-box-desktop{
    display: flex;
  }

  .nav-box-mobile{
    display: none;
  }
}
/* nav a {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5%;
  font-size: 22px;
}
.resume:hover{
  color: white;
} */

