/* .main-page {
  max-width: 80vw;
  max-height: 100vh;
} */

/* *{
  max-width: 75vw;
  margin: auto;
} */

/* h1, h2 {
  text-align: left;
  padding-left: 90px;
  
} */

.h2-main-page{
  color: white;
  font-size: 30px;
  text-align: center;
  background-color: #067BC2;
  max-width: 75vw;
  margin: auto;
}

.header-title{
  max-width: 80vw;
  margin: auto;
}

.header-title h3, .h1-main-page{
  text-align: left;
  padding-left: 90px;
}



