/* .main-page {
  max-width: 80vw;
  max-height: 100vh;
} */

/* *{
  max-width: 75vw;
  margin: auto;
} */

h1, h2 {
  text-align: left;
  padding-left: 90px;
  
}

.h2-main-page{
  text-align: center;
  background-color: grey;
  max-width: 73vw;
  margin: auto;
}

.header-title{
  padding-left: 90px;
  max-width: 80vw;
  margin: auto;
}

.header-title h3{
  text-align: left;
  padding-left: 90px;
}



