/* .main-page {
  max-width: 80vw;
  max-height: 100vh;
} */

/* *{
  max-width: 75vw;
  margin: auto;
} */

/* h1, h2 {
  text-align: left;
  padding-left: 90px;
  
} */

.h1-main-page-first{
  font-family: 'Spectral SC', serif;
  font-weight: normal;
  font-size: 44px;
  margin-bottom: 0px;
}

.h1-main-page-second{
  font-family: 'Spectral SC', serif;
  font-weight: normal;
  font-size: 44px;
  margin-top: 0px;
}

.h2-main-page{
  color: white;
  font-size: 30px;
  text-align: center;
  background-color: #067BC2;
  max-width: 75vw;
  margin: auto;
}

.header-title{
  max-width: 80vw;
  margin: auto;
}

.header-title h2, .h1-main-page-first, .h1-main-page-second{
  text-align: left;
  padding-left: 90px;
}

/* .header-title h2 {
  margin-left: 15px;
} */

.h2-first{
  margin-top: 0px;
  margin-bottom: 8px;
}

.h2-second{
  margin-top: 8px;
  margin-bottom: 8px;
}



