.projects-content {
  margin: auto;
  max-width: 65vw;
  padding: 20px;
}

.float {
  float: left;
}

.links {
  display: grid;
}

.project-img {
  border: 1px solid black;
  border-radius: 3%;
}


.content {
  display: flex;
  justify-content: space-evenly;
}

.content-box{
  border: 1px solid black;
}

.project-link {
  font-family: 'Alegreya SC', serif;
  font-size: 22px;
  text-decoration: none;
  color: black;
}

.project-link:hover{
  background-color: grey;
}