.projects-content {
  margin: auto;
  max-width: 65vw;
  padding: 20px;
}

.float {
  float: left;
  text-align: center;
}

.links {
  display: grid;
}

.project-img {
  border: 1px solid black;
  border-radius: 3%;
  float: right;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content-box{
  border-bottom: 5px solid black;
  padding-bottom: 10px;
}

.project-link {
  font-family: 'Alegreya SC', serif;
  font-size: 22px;
  text-decoration: none;
  color: black;
}

.project-link:hover{
  background-color: rgb(187, 186, 186);
}

.project-name {
  font-size: 25px;
  color: white;
  text-align: center;
  margin-top: 0px;
  background-color: black;
  display: inline-block;
  padding: 2px;
}